# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
./user-app/node_modules
./user-app/.pnp
./user-app.pnp.js

# testing
./user-app/coverage

# production
./user-app/build

# misc
./user-app/.DS_Store
./user-app/.env.local
./user-app/.env.development.local
./user-app/.env.test.local
./user-app/.env.production.local

./user-app/npm-debug.log*
./user-app/yarn-debug.log*
./user-app/yarn-error.log*

./user-app-backend/node_modules